body {
    font-family: Verdana, Tahoma, Arial, sans-serif;
    font-size: small;
    line-height: 150%;

}

p {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

h1,
h2,
h3 {
    font-family: 'Spartan', sans-serif;
}

h1 {
    font-size: 200%;
}

h2 {
    font-size: 150%;
}

h3 {
    font-size: 120%;
}

.cd {
    font-style: italic;
}

.artist {
    font-weight: bold;
}

#elexirs {
    line-height: 1;
    width: 20%;
    text-align: center;
    float: right;
    border: solid 1px #007e7e;
    padding: 20px;
    margin: 5% 0px 20px 20px;
    background: url(../images/cocktail.gif) repeat-x;
}

#elexirs h3 {
    color: #007e7e;
}

#elexirs h2 {
    color: black;
}

#elexirs a:link {
    color: red;
}

#elexirs a:visited {
    color: violet;
}

#elexirs a:hover {
    color: green;
    background: #f88396;
}

#warranty {
    font-family: 'Times New Roman', Times, serif;
    font-size: 130%;
    line-height: 130%;
    border: green dashed thick;
    border-radius: 20px;
    background-color: #a7cece;
    padding: 25px 25px 25px 80px;
    margin: 30px 30% 30px 50px;
    background-image: url(../images/background.gif);
    background-repeat: no-repeat;
    background-position: top left;
    text-align: center;
}

footer {
    font: 50%/normal;
    text-align: center;
    margin-top: 30px;
}