body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: small;
    color: black;
    font-weight: normal;
}

h2 {
    font-size: 120%;
}

h1 {
    font-size: 200%;
}

h1,
h2 {
    /* border-bottom: #888 thin dotted; */
    text-decoration: underline blueviolet;
}

h1 {
    font-family: 'Open Sans Condensed', sans-serif;
}

h2 {
    font-weight: normal;
    font-family: 'Oxanium', sans-serif;
}

blockquote {
    font-style: italic;
}

ul,
ol {
    font-weight: bold;
}

a {
    font-size: 150%;
}

.head {
    font-family: 'Times New Roman', Times, serif;
    font-size: 150%;
    color: #c60;
}